<div class="col-md-12 bg-dark text-white">
    <div class="row">
        <div class="col-md-6 uk-position-bottom-left">
            <div class="col-md-3">
                <img class="" src="assets/img/loguito.jpg" alt="">
            </div>
            <div class="col-md-3">
                <p> &copy; Universidad Nacional de Cajamarca</p>
                <p>Facultad de Ingeniería</p>
                <p>Escuela de Ingeniería de Sistemas</p>
            </div>
        </div>
        <div class="col-md-6 uk-position-bottom-right">
            <Ul>
                Eymie Vera
            </Ul>
            <ul>
                +51 976 826923
            </ul>
        </div>
    </div>
</div>