<div class="col-md-12">
    <h4 class="text-success">Perú</h4>
    <div class="card border-success">
        <div class="card-header">
            <h5 class="text-success">{{peru.name}}</h5>
        </div>
        <div class="card-body" style="max-height: 200px; overflow-y: scroll;" data-spy="scroll">
            <p>
                {{peru.alpha3Code}}
            </p>
            <p>
                {{peru.population}}
            </p>
            <p>
                {{peru.region}}
            </p>
        </div>
    </div>
</div>